/*Styles affect everything between the BODY tags*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: snow;
  min-height: 100%;
}

/*This PARENT container "embraces" all the CHILD divs in the BODY, including the footer*/
.page-container {
  position: relative;
  min-height: 100vh;
}

/*This CHILD WRAPPER embraces body content - including header/nav - EXCEPT the footer*/
.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/*Style Hero Image with Text Overlay so that text is centered on the image no matter the total length of the page content.
Using this article for reference, https://www.w3schools.com/howto/howto_css_image_text.asp*/

/* Style Hero Image, Home Page */
.hero-image {
  /* The image used PLUS "linear-gradient" to add a darker transparent layer over the image so text iseasier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/poppies-1800x1200-c.jpg");
  background-color: chartreuse; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
 }

/* Place text in the middle of the image */
.hero-text {
  position: relative;
  color: snow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-h1 {
  color: snow;
  text-align: center;
}

/*Style Hero Image - Conditions page*/
.hero-image-conditions {
  /* The image used PLUS "linear-gradient" to add a darker transparent layer over the image so text iseasier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/conditions-hero-wet-grass-1800x1200-c.jpg");
  background-color: chartreuse; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*Style Hero Image - Plants page*/
.hero-image-plants {
  /* The image used PLUS "linear-gradient" to add a darker transparent layer over the image so text iseasier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/berries-hero-1800x1200-c.jpg");
  background-color: chartreuse; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*Style Hero Image - Pests page*/
.hero-image-pests {
  /* The image used PLUS "linear-gradient" to add a darker transparent layer over the image so text iseasier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pest-hero-1800x1200-rev-c.jpg");
  background-color: chartreuse; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*Style Hero Image - Contact page*/
.hero-image-contact {
  /* The image used PLUS "linear-gradient" to add a darker transparent layer over the image so text iseasier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contact-clematis-hero-1800x1200-c.jpg");
  background-color: chartreuse; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*Styling Instruction text under each HERO*/
.main-instructions {
  text-align: center;
  background-color: azure;
  padding-top: 10px;
  padding-bottom: 30px;
}

/*Style Main items on Conditions page only*/
.conditions-bars {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.conditions-bar1 {
  background-color: orange;
  padding-top: 2%;
  padding-bottom: 2%;
 }

.conditions-bar2 {
  background-color: darkmagenta;
  padding-top: 2%;
  padding-bottom: 2%;
}

.conditions-bar3 {
  background-color: green;
  padding-top: 2%;
  padding-bottom: 2%;
 }

.conditions-bar4 {
  background-color: indigo;
  padding-top: 2%;
  padding-bottom: 2%;
}

.conditions-h2 {
  color: snow;
  text-transform: uppercase;
  text-align: center;
}

.p-conditions {
  color: snow;
  text-align: center;
}

main a,
main a:link,
main a:hover,
main a:visited{
  color: snow;
  text-decoration: none;
}

/*Styling Button on Home Page*/
.btn {
  background: #4fd934;
  background-image: -webkit-linear-gradient(top, #4fd934, #2980b9);
  background-image: -moz-linear-gradient(top, #4fd934, #2980b9);
  background-image: -ms-linear-gradient(top, #4fd934, #2980b9);
  background-image: -o-linear-gradient(top, #4fd934, #2980b9);
  background-image: linear-gradient(to bottom, #4fd934, #2980b9);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 3px 3px 3px #666666;
  -moz-box-shadow: 3px 3px 3px #666666;
  box-shadow: 3px 3px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 30px 10px 30px;
  border: solid #1f628d 2px;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background: #0b7a0b;
  text-decoration: none;
}
/*End of Home Page button styling*/

/*PLANTS page - style Main items*/
.section-plants-container{
  text-align: center;
}

.plant-pic-center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*PLANTS page - style TABLES (Main)*/
table, th, td {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 25px;
}

.table-plants tr:nth-child(even) {
  background-color: rgb(181, 234, 241);
}

.table-plants tr:nth-child(odd) {
  background-color: snow;
}

.table-plants th {
  background-color: greenyellow;
}

.plant-button {
  background-color: chartreuse;
  color: black;
  font-size: medium;
  margin-bottom: 25px;
  padding: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#plantToggle1 {
  display: none;
}

#plantToggle2 {
  display: none;
}

#plantToggle3 {
  display: none;
}

#plantToggle4 {
  display: none;
}

/*PESTS page*/ 
/*Using CSS Grid to go from one-column layout (mobile) to multi-columns (tablets, desktop)*/
.cards-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 18rem;
}

.responsive-pic{
  border-radius: 50%;
  width: 33%;
  height: auto;
}

.pests-p {
  color: white;
}

/*Media Query creates two columns on screens larger than 600px*/
@media (min-width: 601px) {
  .cards-container { grid-template-columns: repeat(2, 1fr); }
}

/*Media Query creates 3 columns on screens larger than 900px*/
@media (min-width: 901px) {
  .cards-container { grid-template-columns: repeat(3, 1fr); }
}

/*Styles for CONTACT US form, CONTACT page*/
* {
  box-sizing: border-box;
}

form{
  background-color: blueviolet;
}

.conditions-h2 {
  color: snow;
  text-transform: capitalize;
}

input[type=text], input[type=email], input[type=radio], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
  color: snow
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: medium;
  margin: 10px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-container {
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  padding-left: 10px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding-right: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Styling input fields based on valid or invalid responses*/
input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}

/* MEDIA QUERY Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

/*Styles for GENERIC items in the Main across pages not broken out above*/
a { 
  text-decoration: none; 
  color: black
 }

a:link { 
  color: black; 
} 

a:hover { 
  color: firebrick;
}

a:visited{
  color: black;
}

h1 {
  color: rgb(1, 22, 1);
  text-align: center;
}

h2 {
  color: rgb(1, 59, 1);
  text-align: center;
}

h3 {
  color: rgb(60, 88, 11)
}

h4 {
  text-transform: uppercase;
}

p {
  color: black;
 }

/*Style the FOOTER. To keep my footer sitting at the bottom of the page content and not at the bottom of the viewport, I used Free Code Camp solution, https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
.footer-box {
  left: 0;
  background-color: lawngreen;
  color: snow;
  text-align: center;
  font-size: smaller;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;/* Footer height */
  }

/*Hide the FOOTER on screens smaller than 500px wide*/
@media (max-width: 500px){
  .footer-box {
    display: none;
  }
}