body {
  background-color: hsl(300, 100%, 98%);
}

h1, h2 {
  color: #3b0236;
  font-family: ‘Ropa Sans’, sans-serif;
}

p {
  color: #241722;
  font-family: ‘Poppins’, sans-serif;
}

.button-wrapper {
    display: block;
    text-align: center;
  }

.button {
    border: none;
    border-radius: 3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
    color: hsl(300, 100%, 98%);
    background-color: #9c0418;
  } 

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0a5704;
    color: white;
    text-align: center;
  }