header {
  box-sizing: border-box;
} 

body {
  background-color: snow;
}

h1 {
  color: rgb(1, 22, 1);
  font-family: ‘Ropa Sans’, sans-serif;
}

h2 {
  color: rgb(1, 59, 1)
}

p {
  color: black;
  font-family: ‘Poppins’, sans-serif;
}

.button-wrapper {
    display: block;
    text-align: center;
  }

.button {
    border: none;
    border-radius: 3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
    color: hsl(300, 100%, 98%);
    background-color: rgb(70, 2, 70);
  } 

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lawngreen;
    color: white;
    text-align: center;}
    